In [1]:
import pandas as pd

In [8]:
# Chargement des données
data = pd.read_csv("data_cleaned.csv")

In [9]:
data.head()

,imo_alpha_id,service_id,polygon_id,polygon_type,entry_date,out_date,entry_lat,entry_long,vsl_size
0,9471070,1852.0,30417,terminal,2021-01-28 12:48:53,2021-01-28 22:35:59,37.4908,15.0930,0
1,9471070,1852.0,719,port,2021-01-30 03:59:07,2021-01-30 11:28:44,44.3907,8.9389,0
2,9471070,1852.0,16399,terminal,2021-01-30 04:29:08,2021-01-30 11:09:05,44.4058,8.8877,0
3,9471070,1852.0,2111,port,2021-01-30 16:49:19,2021-01-31 05:19:04,43.5572,10.2942,0
4,9471070,1852.0,16146,terminal,2021-01-30 17:08:58,2021-01-31 04:47:24,43.5797,10.3174,0

In [16]:
data["entry_date"] = pd.to_datetime(data["entry_date"])
# Calcul des périodes
periods = data["entry_date"].dt.to_period("M")
 
periods.head()

0    2021-01
1    2021-01
2    2021-01
3    2021-01
4    2021-01
Name: entry_date, dtype: period[M]

In [17]:
# Fractionnement des données

# Initialisation des listes pour stocker les données de formation et de test
training_data_list = []
test_data_list = []

#  Itération sur chaque année unique

for year in data["entry_date"].dt.year.unique():
    # Les données d'entraînement comprennent les 9 premiers mois de l'année
    training_data = data[(data["entry_date"].dt.year == year) & (data["entry_date"].dt.month <= 9)]
    
    # Les données de test comprennent les 3 derniers mois de l'année
    test_data = data[(data["entry_date"].dt.year == year) & (data["entry_date"].dt.month > 9)]
    
    
    # Ajout des données de l'itération actuelle aux listes
    training_data_list.append(training_data.copy())
    test_data_list.append(test_data.copy())

# Concaténation des listes en DataFrames finaux
final_training_data = pd.concat(training_data_list, ignore_index=True)
final_test_data = pd.concat(test_data_list, ignore_index=True)

In [18]:
# Sauvegarde des ensembles d'entraînement et de test dans des fichiers CSV

final_training_data.to_csv('final_training_data.csv', index=False)
final_test_data.to_csv('final_test_data.csv', index=False)